<section class="relative mx-auto">
    <div class="splash-image"></div>
    <h1 class="absolute text-5xl text-white font-semibold top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2">
        No effort wasted.
    </h1>
    <h2 class="absolute text-2xl text-white left-1/2 -translate-x-1/2 -translate-y-1/2 bottom-40"> 
        Welcome to the T.Z. photo blog!
    </h2>
</section>

<section class="py-20">
    <div class="sm:w-3/4 lg:w-5/12 mx-auto px-2">
        <h1 class="text-3xl text-center">So why photography?</h1>
        <p class="text-center mt-4">
        Who cares about photography! Why spend effort learning techniques and imaging software? Why spend so much money on camera equipment when there are smartphones? 
        </p>
    </div>
    <div class="relative flex mt-20 lg:mt-24 items-center justify-center">
        <div class="container flex flex-col lg:flex-row items-center justify-center gap-x-2">
            <div class="flex flex-1 justify-center">
                <img
                    class="portrait-image rounded-lg"
                    src="../../assets/images/DSC07047.JPG"
                    alt=""
                />
            </div>
            <div class="flex flex-1 flex-col items-center lg:items-start">
                <h1 class="text-5xl text-center">Inspiration</h1>
                <p class="my-4 text-center lg:text-left w-3/4">
                    My motivation lies with time. Capturing any moment, whether boring or interesting, is something worth looking back on.   
                </p>
            </div>
        </div>
    </div>
    <div class="relative flex mt-20 lg:mt-24 items-center justify-center">
        <div class="container flex flex-col lg:flex-row items-center justify-center gap-x-2">
            <div class="flex flex-1 flex-col items-center lg:items-end">
                <h1 class="text-5xl text-center">Aspiration</h1>
                <p class="my-4 text-center lg:text-right w-3/4">
                    The goal of professional photographers are to capture perfection. However, I prefer to keep my goals simple and realistic. No need to make things
                    dramatic, the best is what you have. 
                </p>
            </div>
            <div class="flex flex-1 justify-center">
                <img
                    class="portrait-image rounded-lg"
                    src="../../assets/images/DSC06745.JPG"
                    alt=""
                />
            </div>
        </div>
    </div>    
</section>